hr{
    width: 100vw;
    border-bottom: dotted 2px gray;
    margin: 10px 0px;
}
.grid-1{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
}
.cols{
    background-color: black;
    color: whitesmoke;
    border: solid 1px blanchedalmond;
    
}
.grid-col1{
    grid-column: span 3;
}
.grid-col2{
    grid-column: span 3;
}
.grid-col3{
    grid-column: span 6;
}
.grid-col4{
    grid-column: span 8;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.grid-2 .col{
    background-color: aquamarine;
    border: solid 1px lightcoral;
}
.grid-2 .grid_col1{
    grid-column: span 4;
}
.grid-2 .grid_col2{
    grid-column: span 4;
}
.grid-2 .grid_col3{
    grid-column: span 4;
}
.grid-2 .grid_col4{
    grid-column: span 4;
}
@media (min-width: 600px) {
    .grid-2{
        grid-template-columns: repeat(8,1fr);
    }
    .grid-2 .grid_col1{
        grid-column: span 4;
    }
    .grid-2 .grid_col2{
        grid-column: span 4;
    }
    .grid-2 .grid_col3{
        grid-column: span 6;
    }
    .grid-2 .grid_col4{
        grid-column: span 4;
    }
}
@media (min-width: 1920px) {
    .grid-2{
        grid-template-columns: repeat(12,1fr);
    }
    .grid-2 .grid_col1{
        grid-column: span 4;
    }
    .grid-2 .grid_col2{
        grid-column: span 4;
    }
    .grid-2 .grid_col3{
        grid-column: span 6;
    }
    .grid-2 .grid_col4{
        grid-column: span 4;
    }
}




.examples{
    background-color: blue;
}
.box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;


    background-color: lightcoral;
}
.card{
    grid-column: span 4;


    padding: 10px;
    background-color: blueviolet;
    border-radius: 15px;
}
.card .title{
    text-align: center;
}
.card img{
    width: 100%;
}

@media (min-width: 600px) {
    .box{
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;


        padding: 20px;
    }
    .card{
        grid-column: span 4;
    }
}
@media (min-width: 1280px) {
    .examples{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        grid-template-columns: repeat(12, 1fr);
        padding: 30px;

        max-width: 1280px;
    }

}
