

.home{
    background-color: var(--color-two);
}
.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 300px;
    background-color: var(--color-two) ;
/*     background-image: linear-gradient(160deg, #f1faee 0%, #457b9d 100%); */

}
.frame h1{
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-five);
}
.frame .figure{
    background-color: var(--color-one);
    background-image: linear-gradient(160deg, var(--color-one) 0%, var(--color-five) 100%);
    width: 100px;
    height: 100px;
    border-radius: 30px 0px 30px;
}

.about{
    background-color: var(--color-five);
    color: var(--color-two);
    height: auto;
    padding: 20px;
}
.about .about-title{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-text-box .about-p{
    margin-bottom: 5px;
}

.topics{
    background-color: var(--color-four);
    width: 100%;
}
.topics .carousel{
    margin: 0;
    border: 0px 1px;
    border-color: black;
}

.carousel-box-img{
    display: flex;
    justify-content: center;
}

.img-carousel{
    width: 100%;
}

/* --------- Generador de textos 1*/
/* .box-g{
    height: 500px;
    background-color: var(--color-one);
    background-image: linear-gradient(90deg, var(--color-one) 0%, var(--color-four) 100%);
    display: grid;
    place-items: center;
}
.box-g .textGenerate{
    display: block;
}
.box-g .textGenerate .text-g{
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-two);
} */

/* -------- Generador de textos 2*/
/* .box-g{
    height: 500px;
    background-color: var(--color-five);
    background-image: linear-gradient(90deg, var(--color-five) 0%, var(--color-one) 100%);
    display: grid;
    place-items: center;
}
.box-g .textGenerate{
    display: block;
}
.box-g .textGenerate .text-g{
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-three);
} */

/* --------- Generador de textos 3*/
/* .box-g{
    height: 500px;
    background-color: var(--color-four);
    background-image: linear-gradient(90deg, var(--color-four) 0%, var(--color-two) 100%);
    display: grid;
    place-items: center;
}
.box-g .textGenerate{
    display: block;
}
.box-g .textGenerate .text-g{
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-five);
} */


/* --------- Generador de textos 4*/
/* .box-g{
    height: 500px;

    background-color: var(--color-four);
    background-image: linear-gradient(0deg, var(--color-four) 0%, var(--color-two) 100%);

    display: grid;
    place-items: center;
}
.box-g .textGenerate{
    display: block;
}
.box-g .textGenerate .text-g{
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-five);
}
 */




@media (min-width: 500px) {
    body{
        width: 100%;
    }

    .home{
        padding: 30px;
    }
    .frame h1{
        font-size: 4rem;
    }
    .frame .figure{
        width: 150px;
        height: 150px;
        border-radius: 45px 0px 45px;
        margin-bottom: 30px;
    }

    .about{
        padding: 40px;
    }
    .about .about-title{
        font-size: 1.8rem;
    }
    .about .about-text-box .about-p{
        margin-bottom: 5px;
    }
    .img-carousel{
        max-width: 1200px;
    }
}

@media (min-width: 1200px) {
    html{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body{
        max-width: 1600px;
        background-color: var(--color-four);
        background-image: url(../images/bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    header{width: 100%;}
    main{width: 100%;}
    footer{width: 100%;}

    .home{
        padding: 50px;
        height: 500px;
    }
    .frame{
        height: 100%;
    }
    .frame h1{
        font-size: 4.5rem;
    }
    .frame .figure{
        width: 200px;
        height: 200px;
        border-radius: 60px 0px 60px;
        margin-bottom: 30px;
    }
    .about{
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .about .about-text-box{
        max-width: 800px;
    }
    .about .about-text-box .about-p{
        font-size: 1.2rem;
    }
    
}
